<h2>Our rules: </h2>

<ul>
	<li>Do not insult other users</li>	<br>
	<li>Do not insult other users</li>	<br>
	<li>Do not insult other users</li>	<br>
	<li>Do not insult other users</li>	<br>
	<li>Do not insult other users</li>	<br>
	<li>Do not insult other users</li>
</ul>
