<h1>List of articles: </h1>

<% @list_of_articles.each do |art| %>

	<article>
		<header>
			<span class="post_time">
				create <%= art.created_at %>
			</span>
			<h2 class="title_post"> 
				<a href="/articles/<%= art.id%>"> <%= art.title %> </a>
			</h2>
		</header>

		<div class="bottom_border">
			<p class="text_post">
				<%= art.text %>	
			</p>
		</div>
	</article>

<% end %>	