<h1>Enter your contacts:</h1>

<form action="/contacts" method="POST">
	<p>	
		<label for="contacts_mail">e-mail: </label>
		<input type="text" name="mail" id="contacts_mail" />
	</p>

	<p>	
		<label for="contacts_message">Comment: </label>
		<textarea name="message" id="contacts_message"></textarea>
	</p>

	<p>
		<input type="submit" name="send" value="Send"/>
	</p>
</form>	
